html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main{
    padding-right: 10%;
    padding-left: 10%;
}

header{
    padding: 3% 10% 3% 10%;
}

h1{
    color: rgba(255, 255, 255, 87%);
    font-size: 3.5rem;
}

h2{
    color: rgba(255, 255, 255, 87%);
    font-size: 2.5rem;
}

a{
    text-decoration: none;
    color: rgba(255, 255, 255, 87%);;
    font-weight: 300;
}

p{
    color: rgba(255, 255, 255, 87%);
    font-weight: 300;
}

option{
    color: #121212;
}

.fondoOscuro{
    background-color: #121212;
}

.logo{
    width: 30%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: transparent;
}

.navbarLinks ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.navbarLinks li{
    padding-right: 10%;
}

.violeta{
    color: #BB86FC;
}

.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}

.violetaBold{
    color: #BB86FC;
    font-weight: 500;
    margin: 8px 0px;
}

.blancoBold {
    color: rgba(255, 255, 255, 87%);
    font-weight: 700;
}

.negroBold {
    color: #121212;
    font-weight: 700;
    margin: 8px 0px;
}

.titulo{
    font-size: 2rem;
    font-weight: 500;
}

.cardsTipos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cardTipo{
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 12%);
    padding: 1% 2% 1% 2%;
    margin-bottom: 3%; 
}

.btnFiltrar {
    width: auto;
    margin-top: 3%;
    padding: 0.5% 1% 0.5% 1%;
    background-color: #BB86FC;
    border-radius: 5px;
}

.btnVioletaActivo {
    width: auto;
    margin-top: 3%;
    background-color: #BB86FC;
    border-radius: 5px;
}

.btnVioletaInactivo {
    width: auto;
    margin-top: 3%;
    background-color: transparent;
    border: 1px solid #BB86FC;
    border-radius: 5px;
    color: #BB86FC;
}

.btnSiguiente {
    float: right;
    font-weight: 700;
    color: #121212;
    background-color: #BB86FC;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10%;
}

.btnIcono {
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5%; 
}

.btnsPeliculas {
    display: flex;
    justify-content: space-between;
}

.dropdownGenero{
    background-color: transparent;
    width: 30%;
    color: rgba(255, 255, 255, 87%);
    padding: 1%;
    border-radius: 5px;
}

.genero{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.infoGenero{
    margin-right: 7%;
}

.iconoGenero{
    color: #BB86FC;
    margin-right: 1%;
}

.iconoNegro {
    color: #121212;
    margin-right: 10%;
    margin-left: 10%;
}

.iconoVioleta {
    color: #BB86FC;
    margin-right: 10%;
    margin-left: 10%;
}

.informacion{
    width: 70%;
}

.imagen{
    width: 250px;
    margin-right: 0;
}

.info{
    display: flex;
    margin-bottom: 3%;
    align-items: flex-end;
    justify-content: space-between;
}


.peliculaLista {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fondoTrailer {
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(18, 18, 18, 0.7)
}

.iconoCerrar {
    color: white;
    width: 100px;
}

.fast {
    --animate-delay: 0.5s;
}

.slow {
    --animate-duration: 1s;
}

.animated {
    position: relative;
}

.animated * {
    opacity: 0;
}

.animated.animate-in * {
    animation: hideText 1s 1.5s forwards;
}

.animated.animate-in:before,
.animated.animate-in:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 10;
}

.animated.animate-in:before {
    background-color:#121212 ;    
}

.animated.animate-in:after {
    background-color:#121212 ;
    background-image: url(../media/bg.png);
    background-repeat: no-repeat;
    background-size: 80vh;
    background-position: center;
    animation-delay: 2.5s;
}

.animated.animation-LtoR.animate-in:before {
    animation: LtoRKeyframe .6s ease;
}

.animated.animation-LtoR.animate-in:after {
    animation: LtoRKeyframe 2s ease;
}

@keyframes hideText {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes LtoRKeyframe {
    0% {
        width: 0;
        height: 80vh;
        left: 0;
    }
    65% {
        width: 100%;
        height: 80vh;
        left: 0;
    }
    100% {
        width: 0;
        height: 80vh;
        left: 100%;
    }
}
