html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main{
    padding-right: 10%;
    padding-left: 10%;
}

header{
    padding: 3% 10% 3% 10%;
}

h1,
h2,
p{
    color: rgba(255, 255, 255, 87%);
}

.h1 {
    color: rgba(255, 255, 255, 87%);
    text-transform: uppercase;
    font-weight: 900;
}

a{
    text-decoration: none;
}

p{
    font-weight: 300;
}

.titulo,
.subtitulo{
    font-weight: 500;
}

.uppercase {
    text-transform: uppercase;
}

option{
    color: #121212;
}

.fondoOscuro{
    background-color: #121212;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: transparent;
}

.navbarLinks {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.navbarLinks li {
    list-style: none;
}

.burguer {
    display: none;
}

.burguer div {
    width: 25px;
    height: 3px;
    background-color: rgba(255, 255, 255, 87%);
    border-radius: 4px;
    margin: 5px;
}

.visibilityH {
    visibility: hidden;
}

.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}

.cardsTipos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cardTipo{
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 12%);
    margin-bottom: 3%; 
}


.dropdownGenero{
    background-color: transparent;
    color: rgba(255, 255, 255, 87%);
    border-radius: 5px;
    border-color: rgba(255, 255, 255, 87%);
}

.btnFiltrar {
    width: auto;
    background-color: #BB86FC;
    border-radius: 5px;
}

@media (max-width: 320px) {

    html, 
    body {
        overflow-x: hidden;
        position: relative;
    }

    .navbarLinks {
        position: absolute;
        right: 0px;
        height: 50vh;
        top: 15vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        background-color: #121212;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .navbarLinks li {
        opacity: 0;
    }

    .burguer{
        display: block;
    }

    .logo {
        height: 10vh;
        display: flex;
        align-items: center;
    }

    .logo a img {
        width: 45%;
    }

    h1 {
        margin-top: 15vh;
        font-size: 1.8rem;
    }

    .h1 {
        margin-top: 5vh;
        font-size: 2rem;
    }

    h2 {
        margin-top: 10vh;
        font-size: 1.2rem;
    }
    
    .titulo {
        font-size: 1.2rem;
        margin-bottom: 7%;
    }

    .subtitulo {
        font-size: 1rem;
    }

    p {
        font-size: 0.9rem;
        margin: 8px 0px;
    }

    .btnVioletaActivo {
        padding: 2% 4%;
        margin-top: 20vh;
    }

    .cardTipo {
        width: 100%;
        padding: 3% 5%;
    }

    .dropdownGenero {
        width: 100%;
        padding: 3% 5%;
    }

    .btnFiltrar{
        margin-top: 7%;
        padding: 1% 2%;
    }
    
    .vhNecesario {
        min-height: 70vh;
    }

    .info{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
    }

    .informacion {
        width: 100%;
    }

    .imagen {
        width: 98%;
    }

    .iconoGenero {
        margin-right: 1.5%;
    }

    iframe {
        width: 300px;
        height: auto;
    }

    .contenidoTrailer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .iconoCerrar {
        margin-top: 5%;
        font-size: 27px;
    }

    .peliculaLista {
        width: 100%;
    }

    .peliculaLista img {
        width: 70%;
    }

    .btnVioletaIcono {
        padding: 1.5% 2.5%;
        margin-top: 7%;
    }

}

@media (min-width: 321px) and (max-width: 576px) {

    html, 
    body {
        overflow-x: hidden;
        position: relative;
    }

    .navbarLinks {
        position: absolute;
        right: 0px;
        height: 55vh;
        top: 15vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        background-color: #121212;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .navbarLinks li {
        opacity: 0;
    }

    .burguer{
        display: block;
    }
    
    .logo {
        height: 15vh;
        display: flex;
        align-items: center;
    }

    .logo a img {
        width: 30%;
    }

    h1 {
        margin-top: 20vh;
        font-size: 2rem;
    }

    h2 {
        margin-top: 10vh;
        font-size: 1.5rem;
    }

    .titulo {
        font-size: 1.2rem;
        margin-bottom: 7%;
    }

    .subtitulo {
        font-size: 1rem;
    }

    .btnVioletaActivo {
        padding: 2% 4%;
        margin-top: 20vh;
    }

    p {
        font-size: 0.9rem;
        margin: 8px 0px;
    }

    .cardTipo {
        width: 100%;
        padding: 3% 4%;
    }

    .dropdownGenero {
        width: 100%;
        padding: 3% 4%;
    }

    .btnFiltrar{
        margin-top: 7%;
        padding: 1% 1.5%;
    }

    .vhNecesario{
        height: 60vh;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    html, 
    body {
        overflow-x: hidden;
        position: relative;
    }

    .navbarLinks {
        position: absolute;
        right: 0px;
        height: 55vh;
        top: 15vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        background-color: #121212;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .navbarLinks li {
        opacity: 0;
    }

    .burguer{
        display: block;
    }

    .logo a img {
        width: 25%;
    }

    h1 {
        font-size: 2rem;
        margin-top: 15vh;
    }
    
    h2 {
        font-size: 1.5rem;
        margin-top: 10vh;
    }

    .btnVioletaActivo {
        margin-top: 20vh;
        padding: 1.5% 3%;
    }

    .titulo {
        font-size: 1.4rem;
        margin-bottom: 7%;
    }

    .subtitulo {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
        margin: 8px 0px;
    }

    .cardTipo {
        width: 37%;
        padding: 3% 4%;
    }

    .dropdownGenero {
        width: 37%;
        padding: 3% 3%;
    }

    .btnFiltrar{
        margin-top: 7%;
        padding: 1% 1.5%;
    }
}

.navActive {
    transform: translateX(0%);
}

@keyframes navLinksFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: (0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    visibility: hidden;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

@media (min-width: 769px) and (max-width: 992px) {

    div .navbarLinks{
        width: 300px;
    }

    .navbarLinks {
        padding-inline-start: 0;
    }

    .navbarLinks li {
        margin-left: 2%;
    }

    .logo a img {
        width: 30%;
    }

    h1 {
        font-size: 2.5rem;
        margin-top: 15vh;
    }

    h2 {
        font-size: 1.8rem;
        margin-top: 10vh;
    }

    .btnVioletaActivo {
        margin-top: 15vh;
        padding: 1% 2%;
    }

    .titulo {
        font-size: 1.7rem;
        margin-bottom: 7%;
    }

    .subtitulo {
        font-size: 1.5rem;
    }

    p {
        margin: 8px 0px;
    }

    .cardTipo {
        width: 37%;
        padding: 3% 4%;
    }

    .dropdownGenero {
        width: 37%;
        padding: 3% 2%;
    }

    .btnFiltrar{
        margin-top: 7%;
        padding: 1% 1.5%;
    }
}

@media (min-width: 993px) {

    div .navbarLinks{
        width: 300px;
    }

    .navbarLinks {
        padding-inline-start: 0;
    }

    .navbarLinks li {
        margin-left: 2%;
    }

    .logo a img {
        width: 30%;
    }

    h1 {
        font-size: 3.5rem;
        margin-top: 10vh;
    }

    h2 {
        font-size: 2.5rem;
        margin-top: 10vh;
    }

    .btnVioletaActivo {
        margin-top: 8vh;
        padding: 1% 2%;
    }

    .titulo {
        font-size: 2rem;
        margin-bottom: 3%;
    }

    .subtitulo {
        font-size: 1.7rem;
        margin-bottom: 3%;
    }

    p {
        margin: 8px 0px;
    }

    .cardTipo {
        width: 20%;
        padding: 1.5% 2%;
    }

    .dropdownGenero {
        width: 30%;
        padding: 1.5% 2%;
    }

    .btnFiltrar{
        margin-top: 5%;
        padding: 0.5% 1%;
    }
}

.violeta{
    color: #BB86FC;
}

.blanco {
    color: rgba(255, 255, 255, 87%);
    font-weight: 300;
}

.violetaBold{
    color: #BB86FC;
    font-weight: 500;
}

.blancoBold {
    color: rgba(255, 255, 255, 87%);
    font-weight: 700;
}

.negroBold {
    color: #121212;
    font-weight: 700;
}

.btnVioletaActivo {
    width: auto;
    background-color: #BB86FC;
    border-radius: 5px;
}

.btnVioletaIcono {
    width: auto;
    background-color: #BB86FC;
    border-radius: 5px;
}

.btnVioletaActivo a{
    color: #121212;
    font-weight: 700;
}

.btnVioletaInactivo {
    width: auto;
    margin-top: 3%;
    background-color: transparent;
    border: 1px solid #BB86FC;
    border-radius: 5px;
    color: #BB86FC;
}

.btnSiguiente {
    float: right;
    font-weight: 700;
    color: #121212;
    background-color: #BB86FC;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10%;
}

.btnIcono {
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5%; 
}

.btnsPeliculas {
    display: flex;
    justify-content: space-between;
}


.genero{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.infoGenero{
    margin-right: 7%;
}

.iconoGenero{
    color: #BB86FC;
    /* margin-right: 1%; */
}

.iconoNegro {
    color: #121212;
    margin-right: 10%;
    margin-left: 10%;
}

.iconoVioleta {
    color: #BB86FC;
    margin-right: 10%;
    margin-left: 10%;
}

.info{
    display: flex;
    margin-bottom: 3%;
    justify-content: space-between;
}

.peliculaLista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fondoTrailer {
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(18, 18, 18, 0.7)
}

.iconoCerrar {
    color: white;
    font-size: 20px;
}

/* ANIMACIONES */

.fast {
    --animate-delay: 0.5s;
}

.slow {
    --animate-duration: 1s;
}

.animated {
    position: relative;
}

.animated * {
    opacity: 0;
}

.animated.animate-in * {
    animation: hideText 1s 1.5s forwards;
}

.animated.animate-in:before,
.animated.animate-in:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 10;
}

.animated.animate-in:before {
    background-color:#121212 ;    
}

.animated.animate-in:after {
    background-color:#121212 ;
    background-image: url(../media/bg.png);
    background-repeat: no-repeat;
    background-size: 60vh;
    background-position: center;
    animation-delay: 2.5s;
}

.animated.animation-LtoR.animate-in:before {
    animation: LtoRKeyframe .6s ease;
}

.animated.animation-LtoR.animate-in:after {
    animation: LtoRKeyframe 2s ease;
}

@keyframes hideText {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes LtoRKeyframe {
    0% {
        width: 0;
        height: 90vh;
        left: 0;
    }
    65% {
        width: 100%;
        height: 90vh;
        left: 0;
    }
    100% {
        width: 0;
        height: 90vh;
        left: 100%;
    }
}
